{#
/**
 * Scout plugin for Craft CMS 3.x
 *
 * Scout Settings.twig
 *
 * @author    Rias
 * @copyright Copyright (c) 2017 Rias
 * @link      https://rias.be
 * @package   Scout
 * @since     0.1.0
 */
#}

{% extends '_layouts/cp' %}

{% set title = craft.scout.getPluginName() | t('scout') %}
{% set crumbs = [
    { label: 'Settings' | t('scout'), url: url('settings') },
    { label: craft.scout.getPluginName() | t('scout'), url: url('scout/settings') },
] %}

{% block content %}
    <p>{{ "Scout’s settings can only be set using a 'scout.php' config file." | t('scout') }}</p>

    {% include 'scout/_partials/action' with {
        action: {
            description: 'Import data for one or all indices.' | t('scout'),
            name: 'Import index' | t('scout'),
            slug: 'import',
        }
    } %}

    {% include 'scout/_partials/action' with {
        action: {
            description: 'Clear all data for one or all indices.' | t('scout'),
            name: 'Flush index' | t('scout'),
            slug: 'flush',
        }
    } %}
{% endblock %}
