{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Scout plugin for Craft CMS 3.x
 *
 * Scout Settings.twig
 *
 * @author    Rias
 * @copyright Copyright (c) 2017 Rias
 * @link      https://rias.be
 * @package   Scout
 * @since     0.1.0
 */
#}

{% import "_includes/forms" as forms %}

<p>Scout's settings can only be set using a `scout.php` config file.</p>